In [1]:
import pandas as pd
import numpy as np

housing_df = pd.read_csv(r"C:\Users\ramya\OneDrive\Documents\GitHub\streamlit_intro\Housing.csv")

housing_df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [10]:
housing_df['bedrooms'].unique()

array([4, 3, 5, 2, 6, 1], dtype=int64)

In [2]:
housing_df['mainroad'] = housing_df['mainroad'].map({'yes': 1, 'no': 0})
housing_df['guestroom'] = housing_df['guestroom'].map({'yes': 1, 'no': 0})
housing_df['basement'] = housing_df['basement'].map({'yes': 1, 'no': 0})
housing_df['hotwaterheating'] = housing_df['hotwaterheating'].map({'yes': 1, 'no': 0})
housing_df['airconditioning'] = housing_df['airconditioning'].map({'yes': 1, 'no': 0})
housing_df['prefarea'] = housing_df['prefarea'].map({'yes': 1, 'no': 0})
housing_df['furnishingstatus'] = housing_df['furnishingstatus'].map({'furnished': 2, 'semi-furnished': 1, "unfurnished":0})

In [3]:
housing_df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,1,0,0,0,1,2,1,2
1,12250000,8960,4,4,4,1,0,0,0,1,3,0,2
2,12250000,9960,3,2,2,1,0,1,0,0,2,1,1
3,12215000,7500,4,2,2,1,0,1,0,1,3,1,2
4,11410000,7420,4,1,2,1,1,1,0,1,2,0,2

In [4]:
from sklearn.preprocessing import StandardScaler

X = housing_df.drop(columns = "price")
y = housing_df["price"]

In [5]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

X_scaled

array([[ 1.04672629,  1.40341936,  1.42181174, ...,  1.51769249,
         1.80494113,  1.40628573],
       [ 1.75700953,  1.40341936,  5.40580863, ...,  2.67940935,
        -0.55403469,  1.40628573],
       [ 2.21823241,  0.04727831,  1.42181174, ...,  1.51769249,
         1.80494113,  0.09166185],
       ...,
       [-0.70592066, -1.30886273, -0.57018671, ..., -0.80574124,
        -0.55403469, -1.22296203],
       [-1.03338891,  0.04727831, -0.57018671, ..., -0.80574124,
        -0.55403469,  1.40628573],
       [-0.5998394 ,  0.04727831, -0.57018671, ..., -0.80574124,
        -0.55403469, -1.22296203]])

In [6]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [7]:
len_reg = LinearRegression()
len_reg.fit(X_train, y_train)
y_pred = len_reg.predict(X_test)
score = r2_score(y_test, y_pred)
print(f"for len_reg R² score: {score}")

dt = DecisionTreeRegressor(max_depth = 3)
dt.fit(X_train, y_train)
y_pred = dt.predict(X_test)
score = r2_score(y_test, y_pred)
print(f"for decision tree R² score: {score}")

rf = RandomForestRegressor(n_estimators = 200, max_depth =3)
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)
score = r2_score(y_test, y_pred)
print(f"for random forest R² score: {score}")

knn= KNeighborsRegressor(n_neighbors = 24)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
score = r2_score(y_test, y_pred)
print(f"for knn R² score: {score}")

for len_reg R² score: 0.6494754192267793
for decision tree R² score: 0.37624793702041404
for random forest R² score: 0.49709850847973547
for knn R² score: 0.5449233804070469

In [8]:
import pickle

with open("best_model.pkl", "wb") as f:
    pickle.dump(len_reg, f)

with open("scaler.pkl", "wb") as f:
    pickle.dump(scaler, f)